.loader{
    position: absolute;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    img {
        position: absolute;
        width: 20vw;
        animation: 15s rotation infinite;
        
        
    }

}





@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
  }