img {
    width: 100px;
    animation: 15s rotation infinite;
}



@keyframes rotation {
    0% {
        transform: rotate(0deg) scale(.2);
    }
    45%{
        transform: rotate(60deg) scale(.7);
    }
    50%{
        transform: rotate(260deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(.2);
    }
  }