@font-face {
    font-family: IndieFlower;
    src: url(./assets/fonts/IndieFlower-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: RubikPuddles;
    src: url(./assets/fonts/RubikPuddles-Regular.ttf);
    font-weight: 400;
}