@font-face {
    font-family: IndieFlower;
    src: url(./IndieFlower-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: RubikPuddles;
    src: url(./RubikPuddles-Regular.ttf);
    font-weight: 400;
}